@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Balthazar', serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}
.navbar h2 {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
.cover-image h1, .cover-image p {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
.services h1, .services h2 {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
h1, h2 {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;

}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  background-color: #b81c2a;
  color: white;
  text-align: center;
}
.navbar a i {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.nav-logo {
  position: absolute;
  left: 15px;
  color: white;
}
.nav-link {
  margin: 30px;
  text-decoration: none;
  color: white;
}
.logo-container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.logo {
  width: 220px;
}
.cover-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 450px;
  background-image: url(https://images.unsplash.com/photo-1582063289852-62e3ba2747f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover; 
  background-position: center;
  color: white;
  z-index: 2;
  width: 100%;
}
.cover-image-title {
  font-size: 45px;
  margin-top: 100px;
}
.cover-image-text {
  font-size: 18px;
  max-width: 850px;
  padding: 20px;
  color: lightgray;
}

.cover-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: -1;
}
.cover-image-btn a {
  text-decoration: none;
  color: white;
}
.cover-image-btn {
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #b81c2a;
  border: 1px solid #b81c2a;
  margin: 5px 10px;
  text-transform: uppercase;
}
.cover-image-btn a:hover {
  color: #b81c2a;
}

.cover-image-btn:hover {
  cursor: pointer;
  color: #b81c2a;
  background-color: white;
  border: 1px solid white;
}
/* Services */
.services {
  margin-top: 30px;
  color: #b81c2a;
  text-align: center;
  margin-bottom: 30px;
}
.services-heading {
  color: black;
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.service-title {
  margin-bottom: 10px;
}
.service-description {
  color: black;
  font-size: 18px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  height: 250px;
}
/* About Us */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 850px;
  margin-bottom: 50px;
}
.about-us h1 {
  margin-bottom: 10px;
}
.about-us-description {
  margin-bottom: 40px;
  padding: 20px;
}
.about-us p {
  text-align: center;
  font-size: 18px;
}
.about-us-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.detail-item i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #b81c2a;
}
.detail-item h2 {
  color: #b81c2a;
  margin-bottom: 10px;
}
/* Contact */
.contact-container h1 {
  text-align: center;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
}
.contact-container form label {
  color: #b81c2a;
  font-size: 18px;
  margin-bottom: 5px;
}
.contact-container form input {
  margin-bottom: 10px;
  height: 20px;
  padding: 5px;
}
#message {
  height: 60px;
  padding-top: 0;
}
.contact-btn {
  padding: 5px;
  background-color: #b81c2a;
  border: #b81c2a;
  color: white;
  border-radius: 3px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 30px;
}
.social-icons a i {
  text-decoration: none;
  color: #b81c2a;
  margin-bottom: 20px;
  transition: transform .3 ease;
}
.social-icons a i:hover {
  transform: scale(1.15);
}


/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #b81c2a;
  width: 100%;
  color: white;
}
#message::placeholder {
  position: relative;
  top: -20px;
  left: 0;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px){
  .cover-image{
    height: 500px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item {
    max-width: 290px;
    margin: 0 auto;
  }
  .contact-container form {
    width: 300px;
  }
}